<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Up, Up, and Away Comics</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Up, Up, and Away Comics</a></h1>
    <ul>
      <% if (user) { %>
      <li>Welcome, <%= user.email %>!</li>
      <li><a href="/comicView" class="btn">Comics</a></li>
      <li><a href="/cart" class="btn">Cart</a></li>
      <li><a href="/logout" class="btn">Log Out</a></li>
      <% } else { %>
      <li><a href="/login" class="btn">Log In</a></li>
      <li><a href="/signup" class="btn">Sign Up</a></li>
      <li><a href="/adminLogin" class="btn">Store Owners</a></li>
      <% } %>
    </ul>
  </nav>
  