<%- include('partials/header'); -%>

<button><a href="/adminTool/add">Add A Comic</a>
</button>

<button><a href="/adminTool/edit">Edit A Comic</a></button>





<%- include('partials/footer'); -%>