<%- include('partials/header'); -%>

<form>
    <h2>Store Owner Sign Up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <label for="adminCode">Admin Code</label>
    <input type="password" name="adminCode" required />
    <div class="adminCode error"></div>
    <button>Sign up</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    const adminCodeError = document.querySelector('.adminCode.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        emailError.textContent = '';
        passwordError.textContent = '';
        adminCodeError.textContent = '';

        //get values
        const email = form.email.value;
        const password = form.password.value;
        const adminCode = form.adminCode.value;

        try {
            const res = await fetch('/adminSignup', {
                method: 'POST',
                body: JSON.stringify({email, password, adminCode}),
                headers: { 'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
                adminCodeError.textContent = data.errors.adminCode;
            }
            if (data.email) {
                location.assign('/');
            }
        } catch (err) {

        }
    })
</script>

<p>Already have a store owner account? <a href="./adminLogin">Click here!</a></p>
<p>Not a store owner? <a href="./signup">Click here!</a></p>


<%- include('partials/footer'); -%>

